@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 100vw;
  max-height: 100vh;
}


/* For WebKit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4d4d4dfa;
    border-radius: 6px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background-color: #000015;
  }